version: '3.7'

services:
  durango-zookeeper:
    image: wurstmeister/zookeeper
    container_name: durango-zookeeper
    ports:
      - 2181:2181

  durango-kafka:
    image: wurstmeister/kafka
    container_name: durango-kafka
    ports:
      - 9092:9092
    links:
      - durango-zookeeper
    environment:
      KAFKA_ADVERTISED_HOST_NAME: 192.168.178.20
      KAFKA_ZOOKEEPER_CONNECT: durango-zookeeper:2181
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
      KAFKA_DELETE_TOPIC_ENABLE: 'true'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - durango-zookeeper

  durango-event-consumer:
    image: durango-event-consumer
    restart: always
    container_name: durango-event-consumer
    ports:
      - 9090:9090
    environment:
      - SERVER_PORT=9090
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=192.168.178.20:9092
    depends_on:
      - durango-zookeeper
      - durango-kafka

  durango-event-producer-A:
    image: durango-event-producer
    restart: always
    container_name: durango-event-producer-A
    ports:
      - 9080:9080
    environment:
      - SERVER_PORT=9080
      - PRODUCER_INSTANCE=PRODUCER_A
      - PRODUCER_INITIALDELAY=0
      - PRODUCER_FIXEDDELAY=10000
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=192.168.178.20:9092
    depends_on:
      - durango-zookeeper
      - durango-kafka

  durango-event-producer-B:
    image: durango-event-producer
    restart: always
    container_name: durango-event-producer-B
    ports:
      - 9081:9081
    environment:
      - SERVER_PORT=9081
      - PRODUCER_INSTANCE=PRODUCER_B
      - PRODUCER_INITIALDELAY=0
      - PRODUCER_FIXEDDELAY=10000
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=192.168.178.20:9092
    depends_on:
      - durango-zookeeper
      - durango-kafka

  durango-event-producer-C:
    image: durango-event-producer
    restart: always
    container_name: durango-event-producer-C
    ports:
      - 9082:9082
    environment:
      - SERVER_PORT=9082
      - PRODUCER_INSTANCE=PRODUCER_C
      - PRODUCER_INITIALDELAY=0
      - PRODUCER_FIXEDDELAY=10000
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=192.168.178.20:9092
    depends_on:
      - durango-zookeeper
      - durango-kafka